.DS_Store
guidelines.md
log*.*
*.pdb
*.dat
*.pcz
*.trr
*.zip
*.offsets
*.gro
*.log
*.mdcrd
*.ndx
*.json
*.crd
*.dcd
*.stdin
*.proj
*.out
!logo.png
.ipynb_checkpoints/
biobb_wf_flexdyn/notebooks/*.png
biobb_wf_flexdyn/notebooks/*.gif
biobb_wf_flexdyn/notebooks/*.web.ipynb
biobb_wf_flexdyn/notebooks/*.docs.ipynb
biobb_wf_flexdyn/docs/notebooks/
biobb_wf_flexdyn/html/biobb_wf_flexdyn.web.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#


